In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('/content/salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [21]:
final = df.drop('salary_more_then_100k', axis = 'columns')
final.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [22]:
X = df['salary_more_then_100k']

In [23]:
X

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder

l_company = LabelEncoder()
l_job = LabelEncoder()
l_degree = LabelEncoder()

In [25]:
final['company_n'] = l_company.fit_transform(df['company'])
final['degree_n'] = l_degree.fit_transform(df['degree'])
final['job_n'] = l_job.fit_transform(df['job'])
final.head()

  company                  job     degree  company_n  degree_n  job_n
0  google      sales executive  bachelors          2         0      2
1  google      sales executive    masters          2         1      2
2  google     business manager  bachelors          2         0      0
3  google     business manager    masters          2         1      0
4  google  computer programmer  bachelors          2         0      1

In [26]:
final = final.drop(['company', 'job', 'degree'], axis = 'columns')
final.head()

   company_n  degree_n  job_n
0          2         0      2
1          2         1      2
2          2         0      0
3          2         1      0
4          2         0      1

In [27]:
X

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [32]:
#create the decision tree model
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [33]:
model.fit(final, X)

DecisionTreeClassifier()

In [34]:
model.predict(final)

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1])

In [35]:
model.score(final, X)

1.0

In [37]:
#Salary of Google, Computer Engineer, Bachelors degree > 100 k ?
model.predict([[2, 1, 0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])

In [38]:
model.predict([[2,1,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])